/**
 * tags in modal
 */
.tag.label {
  display: inline-block;
  margin-right: 0.3em;
  padding-right: 0.2em;
}

.tag a {
  color: #fff;
  opacity: 0.5;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  padding-right: 0;
}

/**
 * left-panel
 */
div.panel.panel-open .panel-body {
  padding: 1em 0;
}

h5 {
  margin: 0;
}

.panel-group .panel.list-group-item {
  margin-top: 0;
  box-shadow: none;
  border-top: 1px solid #ddd;
  border-radius: 0;
}

div.panel-heading {
  padding: 0;
}

.badge-red {
  background-color: red;
}

.badge-orange {
  background-color: orange;
}

.badge-gray {
  background-color: gray;
}
.badge-green {
  background-color: green;
}

.list-group-item a:hover,
.list-group-item a:focus {
  text-decoration: none;
  outline: 0;
}

#left-panel {
  height: 100vh;
  overflow-y: auto;
  padding: 0;
}

.list-group {
  margin: 0;
}

/** 
 * Accordion body
 */
#commentText {
  resize: vertical;
}

/** Make container and body unclickable,
 * so the map will get the mouse events
 */
div.no-events {
  pointer-events: none;
}

div.no-events * {
  pointer-events: auto;
}

/* Styling the map and the positions of tools on it */

.container-full {
  margin: 0;
  width: 100%;
}

section.no-padding {
  padding: 0;
}

.pull-bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 1000;
}

.pull-top-right {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;
}

/**
 * The folowing btn-circle stylings have been copied from:
 * http://bootsnipp.com/snippets/featured/circle-button
 */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/**
 * Login page
 */
.login-alert {
  margin-top: 2em;
}

.login-page {
  height: 100vh;
  background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
