/**
 * tags in modal styling
 */
.tag.label {
  margin-right: 0.3em;
  padding-right: 0.2em;
}

.tag a {
  color: #fff;
  opacity: 0.5;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  padding-right: 0;
}

/**
 * Styling left-panel
 */
section.col-md-4 {
  height: 100vh;
  overflow-y: auto;
  padding: 0;
}

.list-group {
  margin: 0;
}

/** Make container and body unclickable,
 * so the map will get the mouse events
 */
div.no-events {
  pointer-events: none;
}

div.no-events * {
  pointer-events: auto;
}

/* Styling the map and the positions of tools on it */

#map-canvas {
  position: absolute;
  top :0;
  left: 0;
  z-index: -1;
}

.pull-bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.pull-top-right {
  position: absolute;
  top: 1em;
  right: 1em;
}

/**
 * The folowing btn-circle stylings have been copied from:
 * http://bootsnipp.com/snippets/featured/circle-button
 */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
