<!-- This is the body of accordion it contains issue details and related comments -->
<small><span class="glyphicon glyphicon-user"></span> {{ issueCtrl.issue.creator.name }}</small>
<small class="pull-right">{{ issueCtrl.issue.createdAt | date: "dd.MM.yyyy HH:mm" }}</small>
<p>
  <img ng-show="issue.imageUrl" class="img-responsive img-rounded" src="{{ issueCtrl.issue.imageUrl }}" alt="issue image">
  {{ issueCtrl.issue.description }}
</p>
<!-- Comments section-->
<section>
  <p class="text-center" ng-show="issueCtrl.comments.loading">
    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" aria-label="Loading..."></i>
  </p>
  <div ng-repeat="comment in issueCtrl.comments" class="well well-sm">
    <small><span class="glyphicon glyphicon-user"></span> {{ comment.author.name }}</small>
    <small class="pull-right">{{ comment.createdAt | date: "dd.MM.yyyy HH:mm" }}</small>
    <div>{{ comment.text }}</div>
  </div>
  <form name="commentForm" novalidate ng-submit="issueCtrl.addComment()">
    <div class="form-group" ng-class="{'has-error' : commentForm.commentText.$invalid && commentForm.commentText.$dirty}">
      <label for="commentText" class="sr-only">New comment</label>
      <textarea id="commentText" name="commentText" class="form-control input-sm" rows="2" placeholder="New comment"
       ng-model='issueCtrl.comment.text' ng-maxlength="1000" required></textarea>
      <p class="help-block" ng-show="commentForm.commentText.$invalid && commentForm.commentText.$dirty">
        <em ng-show="commentForm.commentText.$error.maxlength">You're talking too much</em>
      </p>
    </div>
    <div class="clearfix">
      <button id="commentSubmit" class="btn btn-success btn-sm pull-right" ng-disabled="commentForm.$invalid">
        <span class="glyphicon glyphicon-plus"></span>
        Add
      </button>
    </div>
  </form>
</section>