<div class="alert alert-danger" ng-if="login.error">
  {{ login.error }}
</div>
<h4>Log in</h4>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="login" name="loginForm">
          <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input required type="text" id="username" placeholder="Username" class="form-control" ng-model="login.user.name">
            <label for="password" class="sr-only">Password</label>
            <input required type="password" id="password" placeholder="Password" class="form-control" ng-model="login.user.password">
          </div>
        </form>
        <button class="btn btn-primary pull-right" ng-click="login.connect()" ng-disabled="loginForm.$invalid">Log in</button>
      </div>
    </div>
  </div>
</div>
<h4>Sign up</h4>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="signup" name="signupForm">
          <div class="form-group">
            <label for="new-username" class="sr-only">Username</label>
            <input required type="text" id="new-username" placeholder="Username" class="form-control" ng-model="login.user.name">
            <label for="new-password" class="sr-only">Password</label>
            <input required type="password" id="new-password" placeholder="Password" class="form-control" ng-model="login.user.password">
            <label for="check-password" class="sr-only">Repeat your password</label>
            <input required type="password" id="check-password" placeholder="Repeat your password" class="form-control" ng-model="login.user.checkPassword">
          </div>
        </form>
        <button class="btn btn-info pull-right" ng-click="login.createUser()" ng-disabled="loginForm.$invalid">Sign up</button>
      </div>
    </div>
  </div>
</div>