<div class="alert" ng-if="login.alert" ng-class="{ 'alert-success': login.alert.info, 'alert-warning': login.alert.error }">
  {{ login.alert.message }}
</div>
<h4>Log in</h4>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="login" name="loginForm" novalidate>
          <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input required type="text" id="username" placeholder="Username" class="form-control" ng-model="login.user.name">
            <label for="password" class="sr-only">Password</label>
            <input required type="password" id="password" placeholder="Password" class="form-control" ng-model="login.user.password">
          </div>
        </form>
        <button class="btn btn-primary pull-right" ng-click="login.connect()" ng-disabled="loginForm.$invalid">Log in</button>
      </div>
    </div>
  </div>
</div>
<h4>Sign up</h4>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="signup" name="signupForm" novalidate>
          <div class="form-group">
            <label for="new-firstname" class="sr-only">Username</label>
            <input required type="text" id="new-firstname" placeholder="First name" class="form-control" ng-model="login.newuser.firstname">
            <label for="new-lastname" class="sr-only">Username</label>
            <input required type="text" id="new-lastname" placeholder="Last name" class="form-control" ng-model="login.newuser.lastname">
            <label for="new-username" class="sr-only">Username</label>
            <input required type="text" id="new-username" placeholder="Nickname" class="form-control" ng-model="login.newuser.name">
            <label for="new-password" class="sr-only">Password</label>
            <input required type="password" id="new-password" placeholder="Password" class="form-control" ng-model="login.newuser.password">
            <label for="check-password" class="sr-only">Repeat your password</label>
            <input required type="password" id="check-password" placeholder="Repeat your password" class="form-control" ng-model="login.checkPassword">
          </div>
        </form>
        <button class="btn btn-info pull-right" ng-click="login.createUser()" ng-disabled="signupForm.$invalid">Sign up</button>
      </div>
    </div>
  </div>
</div>