<div ng-controller="MapCtrl as map">

  <section>
    <div id="map-canvas">
      <leaflet defaults="map.defaults" markers="map.markers" width="100vw" height="100vh" lf-center="map.center" ng-style="{'cursor' : map.cursor}"></leaflet>
    </div>
    <button class="btn btn-success btn-circle btn-xl pull-bottom-right" ng-click="map.toggleEditMode(true)" ng-class="{ 'active': map.editMode }">
    <i class="glyphicon glyphicon-map-marker"></i>
  </button>
  </section>

  <section class="col-md-4">
    <div class="list-group">
      <form class="form-inline list-group-item" id="searchForm" name="searchForm" novalidate>
        <div class="form-group">
          <label for="searchText" class="sr-only">Search query</label>
          <input type="text" class="form-control" id="searchText" name="map.searchText" placeholder="quick search" ng-model="map.searchText">
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-primary" ng-click="map.filterOpen()">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
        </div>
      </form>
      <uib-accordion>
        <div uib-accordion-group ng-repeat="issue in map.markers">
          <uib-accordion-heading>
            <a sref="home.issues({ issueID: issues.id })" class="list-group-item">
              <small class="pull-right">{{ issue.createdAt | date: "dd.MM.yyyy HH:mm" }}</small>
              <h4 class="list-group-item-heading">{{ issue.issueType.description }}</h4>
              <p class="list-group-item-text">{{ issue.description }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              <span class="badge">{{ issue.state }}</span></p>
            </a>
          </uib-accordion-heading>
          <div ui-view />
        </div>
      </uib-accordion>
    </div>
  </section>
  <div class="pull-top-right">
    <button class="btn btn-default btn-circle btn-lg" ng-controller="LogoutCtrl as logout" ng-click="logout.disconnect()">
        <span class="fa fa-sign-out"></span>
      </button>
  </div>
</div>